body{
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}

.is-centered{
    justify-content: center;
    align-content: center;
}

.input{
    width: 40px;
    text-align: center;
}

.fifty-shades{
    color: #666666;
}


.no_drag {
    -webkit-app-region: no-drag !important;
}
